*{
    margin: 0;
    padding: 0;
}

body{
    transition: all 0.2s;
}

.container{
    display: flex;
    flex-direction: column;
}

.images{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.botao-acender{
    border: 0;
    background-color: rgb(255, 238, 0);
    padding: 16px 32px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.botao-apagar{
    border: 0;
    background-color: black;
    padding: 16px 32px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}